body{
    background-color:beige;
}

#logo{
    padding-left:45%;
    font-size:40px;
    background-color:tan;
} 

#searchbar {
    float:right;
}

#navigation{
    padding-left:20%;
}

#navigation p{
    display:inline;
    padding-left:15px;
    padding-right:15px;
    font-size:20px;
}

#navigation a{
    color:black;
}
    
    
.banner img{
    padding-top:20px;
    height:200px;
    width:auto;
}

.banner{
    padding-bottom:20px;
    border-bottom: 10px solid #FFE4C4;
}

h2{
    padding-top:20px;
    font-size:50px;
}

#trending p{
    display:inline;
}

#trending img{
    height:500px;
    width:auto;
}

#trending{
    padding-bottom:40px;
    Border-bottom: 10px solid black; 
}

#saleCatagories{
    padding-top:70px;
    padding-left:20%;
    padding-bottom:70px;
}

#saleCatagories p{
    display:inline;
    padding-left:15px;
    padding-right:15px;
    font-size:20px;
}

#saleCatagories a{
    color:black;
}

#selection{
    padding-top:50px;
}

#selection img{
    height:500px;
    width:auto;
}

#selection a{
    color:black;
}

#selection p{
    display:inline;
}
